{% extends 'base.html' %}

{% block title %}Productos{% endblock %}

{% block content %}
<div class="table-container">
    <nav>
        <ul>
            <li><a href="{% url 'productos' %}">Productos</a></li>
            <li><a href="{% url 'ingresar_producto' %}">Ingresar Producto</a></li>
        </ul>
    </nav>
    <h2>Productos</h2>
    <form method="get">
        <input type="text" name="q" placeholder="Buscar productos..." value="{{ query }}">
        <button type="submit">Buscar</button>
    </form>
    <table>
        <tr>
            <th>Código</th>
            <th>Producto</th>
            <th>Descripción</th>
            <th>Cantidad</th>
            <th>Acciones</th>
        </tr>
        {% for producto in productos %}
        <tr>
            <td>{{ producto.codigo }}</td>
            <td>{{ producto.producto }}</td>
            <td>{{ producto.descripcion }}</td>
            <td>
                <a href="{% url 'decrementar_cantidad' producto.pk %}" class="button">-</a>
                {{ producto.cantidad }}
                <a href="{% url 'incrementar_cantidad' producto.pk %}" class="button">+</a>
            </td>
            <td>
                <a href="{% url 'editar_producto' producto.pk %}" class="button">Editar</a>
                <a href="{% url 'eliminar_producto' producto.pk %}" class="button">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'ingresar_producto' %}" class="button">Ingresar Producto</a>
</div>
{% endblock %}
